body {
    font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
    
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    min-height: 12vh;
    padding: 8px 64px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    font-size: 32px;
    font-weight: 1000;
}

.header > button {
    background-color: #002244;
    border: none;
    border-radius: 12px;
    padding: 8px 32px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.main {
    flex: 1;

    background-color: #ECF3F9;

    padding: 48px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-auto-rows: min(240px, 60vh);
    gap: 24px 16px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 5px grey;

    padding: 48px 16px 16px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

h1,
h2, 
h3 {
    margin: 0;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 12px;
}

.controls {
    display: flex;
    justify-content: space-between;
}


.footer {
    height: 56px;
    max-height: 12vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer > div > a {
    color: inherit;
}

#dialog {
    padding: 24px;
}
  
#form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
  
#form > * {
    font-family: inherit;
    font-size: 14px;
    padding: 8px 12px;
}

#form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
  }
  
#form > button {
    background-color: #002244;
    color: white;
    border: none;
    cursor: pointer;
}